@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
}

* {
    font-family: 'Open Sans', sans-serif;
}
html {
    height: 100vh;
}
body {
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1d539e;
    flex: 1;
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#texto_planos {
    color: white;
    line-height: 65px;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    flex-direction: column;
}
#texto_solucoes {
    color: white;
    line-height: 25px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    flex-direction: column;
}

main {
    background-color: #f9fbfc;
    flex: 1;
    display: flex;
    justify-content: center;
}

.plan_block {
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -96px;
    max-width: 80%;
    gap: 30px;
}

.small_block {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    max-height: 470px;
    max-width: 355px;
    box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
    flex: 1;
}

.small_block_b {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    max-height: 490px;
    max-width: 355px;
    box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
    flex: 1;
    margin-top: -10px;
}

.small_block_basic {
    background-color: #ffcc29;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
    flex: 1;
    
    display: flex;
    justify-content: space-between;
    padding: 20px ;
    align-items: center;
}

.sblock {
    padding: 24px;
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    flex:1;
}

.sblock_basic {
    padding: 24px;
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}
.title_block {
    color: #1e2338;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.title_block_basic {
    color: #1d539e;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.price1 {
    font-size: 38px;
    line-height: 52px;
}

.price2 {
    font-size: 18px;
    line-height: 25px;
}

.month {
    font-weight: normal;
    color: #828799;
}

.description {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.img {
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    font-style: normal;
    display: flex;
    margin: 0;
    margin-bottom: 20px;
    
}
.check_img {
    height: 19px;
    margin-right: 15px;
}

.cardsbutton {
    padding: 12px 24px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #1d539e;
    box-sizing: border-box;
    margin-top: auto;
}

.textbutton {
    font-weight: 600;
    font-size: 18px;
    margin: auto;
    text-decoration: none;
    color: #1d539e;
}

.cardsbutton_b {
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1d539e;
    border-radius: 16px;
    border: 1px solid #1d539e;
    box-sizing: border-box;
    width: 94px;
    height: 32px;
    margin-top: auto;
}

.textbutton_b {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    text-decoration: none;
    text-align: center;
    color: white;
}
.cardsbutton_bb{
    padding: 12px 24px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:  #1d539e;
    border-radius: 10px;
    border: 1px solid #1d539e;
    box-sizing: border-box;
    margin-top: auto;
}
.textbutton_bb {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    text-decoration: none;
    text-align: center;
    color: white;
}
